.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  max-width: 1217px;
  max-height: 653px;
  position: relative;
  gap: 40px;
  align-items: stretch;
  background-color: #ffffff;
}

@media (max-width: 991px) {
  .card {
    flex-direction: column;
    gap: 16px;
    padding: 10px;
  }
}

.cardImage {
  width: auto;
  border-radius: 10px;
}

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1b1b1b;
}

.skeleton {
  background-color: #f0f0f0; /* Light grey color for the skeleton */
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton::after {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-top-color: rgba(0, 0, 0, 0.1);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.imagePlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Цвет фона плейсхолдера */
}

.title {
  margin-bottom: 10px;
  color: #472115;
}

.characteristics {
  margin-bottom: 20px;
}

.descriptionTitle {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  gap: 10px;
}

.detailsTitle {
  margin-bottom: 6px;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: auto;
}

@media (max-width: 991px) {
  .card {
    max-height: 100%;
  }

  .cardInfoHead {
    padding: 0 20px;
  }

  .cardImage {
    margin: auto;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .title {
    margin-bottom: 8px;
  }

  .characteristics {
    margin-bottom: 12px;
  }

  .descriptionTitle {
    margin-bottom: 4px;
  }

  .description {
    margin-bottom: 12px;
  }

  .details {
    margin-bottom: 16px;
    padding: 12px;
    gap: 15px;
  }

  .detailsTitle {
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) {
  .cardImage {
    max-height: 234px;
    width: 100%;
  }
}
