.button {
  display: flex;
  align-self: baseline;
  justify-content: center;
  background-color: rgba(180, 49, 49, 1);
  color: #f7f7f7;
  white-space: nowrap;
  padding: 14px 20px;
  border-radius: 20px;
  gap: 20px;
  min-width: 238px;
  transition: all 0.3s ease;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

@media (max-width: 640px) {
  .button:hover,
  .button:focus {
    transform: scale(1.05);
  }
}

.buttonText {
  margin: auto 0;
}

.buttonIcon {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.withIcon {
  padding: 13px 20px;
}

.icon {
  width: 13px;
  transform: rotate(90deg);
}

.icon path {
  stroke: #b43131;
}

.transparent {
  background-color: transparent;
  color: #472115;
  border: 1px solid #472115;
}

.transparent:hover {
  background-color: #472115;
  color: #fff;
  transform: none;
}

.back {
  border: none;
  gap: 8px;
  min-width: auto;
}

.back:hover {
  background-color: transparent;
  color: #472115;
  gap: 16px;
}

.backIcon {
  transform: rotate(180deg);
  background-color: #b43131;
}

.backIcon svg path {
  stroke: #fff;
}

@media (max-width: 640px) {
  .button {
    min-width: 100%;
  }

  .withIcon {
    padding: 13px 20px;
    justify-content: space-between;
  }

  .transparent {
    padding: 7px 20px;
  }

  .back {
    justify-content: flex-start;
  }
}
