.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media (max-width: 640px) {
  .contacts {
    margin-bottom: 24px;
  }
}

@media (max-width: 640px) {
  .contacts {
    margin-bottom: 12px;
  }
}
